@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html {
  background-color: #efefef;
}

.row {
  background-color: #efefef;
}

.App {
  /*height: 100vh;*/
  background-color: #efefef;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}

.flex-grid .col {
  padding: 20px;
  height: 100px;
  width: 70%;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}


.fund-container {
	background-color: white;
  font-family: 'Futura';
}

.fund-container h1{
  padding: 10px;
}

.fund-container em {
	color: #ff4949;
}

.fund-container span {
	padding-left: 10px;
}

.bubble {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Futura';
  text-align: center;
  color: #fff;
  background-color: #424242;
  border-radius: 3px;
}

.bubble strong {
	color: #ff4949;
}

.bubble:after {
  position: absolute;
  bottom: -0.4em;
  right: 5em;
  border-top: 0.8em solid #424242;
  border-right: 0.8em solid transparent;
  border-left: 0.8em solid transparent;
  content: "";
}

.description {
	border-top: 1px solid gray;
	margin: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	font-family: 'Helvetica';
	font-size: 14px;
}